<DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link rel="stylesheet" href="/css/addProduct.css">
</head>
<header>
  <nav class="header-nav">
    <ul class="nav-list">
       <li><a href="/products" class="back-link">Products</a>
       </a></li>
       <li><a href="/user/logout">Logout</a></li>
    </ul>
  </nav>
</header>
<body>
    <div class="container">
        <h1 class="title">Add Product</h1>
        <form class="add-product-form" action="/products/add" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name" class="form-label">Name:</label>
                <input type="text" id="name" name="name" class="form-input" required>
            </div>
            <div class="form-group">
                <label for="price" class="form-label">Price:</label>
                <input type="number" id="price" name="price" step="0.01" class="form-input" required>
            </div>
            <div class="form-group">
                <label for="description" class="form-label">Description:</label>
                <textarea id="description" name="description" class="form-textarea" required></textarea>
            </div>
            <div class="form-group">
                <label for="status" class="form-label">Status:</label>
                <select id="status" name="productStatus" class="form-select" required>
                    <option value="available">Available</option>
                    <option value="out of stock">Out of Stock</option>
                </select>
            </div>
            <div class="form-group">
                <label for="image" class="form-label">Image:</label>
                <input type="file" id="image" name="image" accept="image/*" class="form-input-file" required>
            </div>
            <button type="submit" class="submit-button">Add Product</button>
        </form>
    </div>
</body>
</html>
