<DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div>
            <% if (user.profile_photo) { %>
                <a href="/user/profile">
                    <img src="<%= user.profile_photo %>" alt="Profile Photo" class="profile-image">
                </a>
            <% } else { %>
                <a href="/user/profile">
                    <img src="/images/default-profile.png" alt="Profile Photo" class="profile-image">
                </a>
            <% } %>
            <div class="cart-icon">
                <a href="/user/cart">
                    <img src="/images/cart-icon.png" alt="Cart" width="40" height="40">
                    <span class="cart-count" id="cart-count"><%= cartItemCount %></span>
                </a>
            </div>
            <a href="/user/logout">Logout</a>
            <a href="/user/orders">My Orders</a>
        </div>
    </header>

    <div id="cart">
       <h2 class="h2">Cart</h2>
       <ul id="cart-items"></ul>
       <p>Total: $<span id="cart-total">0</span></p>
       <button class="btn check-out" onclick="checkout()">Checkout</button>
    </div>

    <script src="/js/cart.js"></script>
</body>
</html>
